build:build_buddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:build_buddy --bes_backend=grpcs://cloud.buildbuddy.io
build:build_buddy --remote_cache=grpcs://cloud.buildbuddy.io
build:build_buddy --remote_timeout=3600
