build:raspi32 --config=base_linux

build:raspi32 --platforms=@rules_bzlmodrio_toolchains//platforms/raspi32
build:raspi32 --build_tag_filters=-no-raspi
build:raspi32 --features=compiler_param_file
build:raspi32 --platform_suffix=raspi32
build:raspi32 --incompatible_enable_cc_toolchain_resolution

build:raspi32 --cxxopt=-Wno-error=deprecated-declarations

# Extra 11
# build:raspi32 --cxxopt=-Wno-error=deprecated-enum-enum-conversion
